.button {
    background: linear-gradient(326.22deg, #FF5858 -1.36%, #F09819 125.27%);
    box-shadow: 2px 2px 16px rgba(234, 175, 32, 0.15);
    border-radius: 12px;
    color: #F8F8FD;
    border: none;
    padding: 10px 32px;
    font-weight: 900;
    transition: 0.3s;
    cursor: pointer;

   
}