.tasks {
    margin: 30px auto auto;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.125) 64.25%, rgba(196, 196, 196, 0) 102.95%);
    border: 1px solid rgba(187, 187, 244, 0.266);
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    button {
        margin-top: 30px;
        margin-right: auto;
        border: none;
        color: #fff;
        font-weight: 900;
        cursor: pointer;
    }
    .modal-content {
        p {
            font-style: italic;
            font-weight: 900;
            font-size: 22px;
            line-height: 124%;
            color: #15143D;
            margin-bottom: 15px;
        }
    }
}

@media(min-width: 320px) and (max-width: 1259px) {
    .tasks {
        width: 95%;
    }
}