.footer {
    background: #232249;
    padding: 20px 0;
    margin-top: 30px;
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(248, 248, 253, 0.6);
    }
}